<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43025331641-oocbi04s6q0ofb3c1a6tkpklaf4j3mfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43025331641-oocbi04s6q0ofb3c1a6tkpklaf4j3mfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCYsewKEikoDVNT32Qvpse6al_8Gqb5P2o</string>
	<key>GCM_SENDER_ID</key>
	<string>43025331641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-ii</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-ii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43025331641:ios:a5398f259534a8832d7268</string>
</dict>
</plist>